* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  width: 98vw;
  margin: 3px auto;
}

.post {
  margin: 15px auto 0 auto;
  width: 400px;
  border: 2px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.title {
  font-size: 24px;
}

.description {
  font-size: 18px;
}

.post-enter {
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}


